@media (max-width: 1000px) {
  .settings-container {
    /* this allows #settings to break free, due to its position: absolute; */
    position: static;
  }

  #settings {
    display: none;

    width: 325px;
    height: 150px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: #333;
    border: 1px solid #8A8AFF;
    border-radius: 5px;

    padding: 12px;
  }

  .settings-block {
    display: block;
    margin: 10px 0;
  }

  .settings-block:first-child {
    margin-top: 0;
  }

  #btnSettings {
    display: inline-block;
  }
}